.page-inner-model.page-model-send
	.address
		.label {{ texts.send.address }}
		input(ng-model='md.address')
		i.fa.fa-qrcode(aria-hidden='true', ng-click='scanAddress()')
	.amount
		.label {{ texts.send.amount }}
		input(type='number', ng-model='md.amount')
		.unit(ng-click='toggleUnits()') {{md.unit}}
		.units
			.opt(ng-repeat='unit in md.units', ng-click='md.unit = unit.key; toggleUnits();') {{unit.value}}
	.send-btn(ng-click='send()')
		.text {{ texts.send.send }}