.page-inner-model.page-model-receive
	.create-btn(ng-click='createAddress()')
		.text {{ texts.receive.create_new_address }}
	.address(ng-show='address.id')
		.id {{ address.id }}
		canvas#address.qr-canvas