.page-model.page-model-login(ng-class='md.mode === "qr" ? "transparent" : ""')
	.type(ng-show='md.mode === "type"')
		.text {{ texts.login.seed }}
		.seed-input
			.label {{ texts.login.your_seed }} ({{md.seed.length}} / 81)
			input(ng-model='md.seed', ng-change='onType()', placeholder='{{ texts.login.a_z_9 }}', maxlength='81')
			i.fa.fa-qrcode(aria-hidden='true', ng-click='scan()')
		.generate(ng-click="generateSeed()")
			.generate-text {{ texts.login.generate_new_seed }}
		.about {{ texts.login.about_seed }}
		.generate-manualy {{ texts.login.generate_manually }}
	.qr(ng-show='md.mode === "qr"')
		.header
			.back(ng-click='closeQrScan()')
				i.fa.fa-arrow-left(aria-hidden='true')
			.text {{ texts.login.scan_your_seed }}
		.scan-box
		.close

