html(ng-app='wallet', dir='ltr', ng-cloak)
	head
		meta(charset="UTF-8")
		meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
		meta(http-equiv='Content-Security-Policy', content="default-src * data: blob: ws: wss: gap://ready file://*; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; connect-src * ws: wss:;")
		title iota-community-wallet-app
		link(rel='stylesheet', type='text/css', href='./index.css')
		script(type='text/javascript', src='cordova.js')
		script(async, src='./index.js')
	body
		ui-view